body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #bdab98 !important;
}

.App {
  text-align: center !important;
  justify-content: center;
}



/*------------ ICON DE CARRITO --------------*/

.carrito-header {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  display: flex;
  position: relative;
  left: 20px;
}

.png-carrito {
  background-color: white;
  padding: 2px;
  border-radius: 30px;
}

#numero-carrito {
  border-radius: 10px;
  font-size: 1.2rem;
  margin-left: 5px;
}

.contenedor-carrito-nav {
  display: flex;
}



/*----------- BIENVENIDA -----------*/

.h2-bienvenida {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.9rem;
  margin-top: 2rem;
  color: black;
}

.texto-bienvenida {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.1rem;
  width: 90%;
  margin-left: 5%;
  color: black;
}



/*------------ TARJETA CONTACTO --------------*/

.container-contacto {
  width: 100%;
  background-color: #48302b;
  margin-top: 3rem;
  text-align: center;
  display: flexbox;
  justify-content: center;
  height: 180px;
}

.texto-contacto {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.1rem;
  width: 90%;
  margin-left: 5%;
  color: white;
}

.boton-contacto {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.1rem;
  padding: 0.4rem;
  border-radius: 2rem;
  border: 1px solid black;
  color: white;
  background-color: #6a4e36;
  margin-top: 0.5rem;
}



/*---------- CARRUSEL ----------*/

.carousel {
  width: 100vw;
  margin-top: 2rem;
}

.carousel-item {
  height: 400px;
}



/*--------- SECCION INFORMACION -----------*/

#info-contenedor {
  width: 100%;
  background-color: #48302b;
  margin-top: 3rem;
}

#info-envios-div {
  text-align: center;
  display: flex;
  justify-content: center;
}


.bi-truck {
  margin-right: 10px;
  margin-top: 6px;
  font-size: 40px;
  color: white
}

.info-envios-estructura {
  margin-right: 2rem;
  margin-top: 1rem;
}

#info-envios-titulo {
  font-size: 1.2rem;
  color: white;
}

#info-envios-texto {
  font-size: 1rem;
  margin-top: -10px;
  color: white;
}


#info-pagos-div {
  text-align: center;
  display: flex;
  justify-content: center;
}

.bi-credit-card-fill {
  margin-top: 5px;
  font-size: 40px;
  margin-right: 10px;
  color: white;
}

.info-pagos-estructura {
  margin-top: 1rem;
  margin-right: 2rem;
}

#info-pagos-titulo {
  font-size: 1.2rem;
  color: white;
}


#info-wspp-div {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-right: 28px;
}

.bi-whatsapp {
  margin-top: -18px;
  font-size: 40px;
  margin-right: 10px;
  color: white;
}

#info-wspp-titulo {
  font-size: 1.2rem;
  color: white;
}



/*------------CATEGORIAS-----------*/

.div-categorias {
  margin-top: 2rem;
}

.categorias {
  width: 80%;
}

.foto-categorias {
  width: 80%;
  height: 400px;
  margin-top: 2rem;
  box-shadow: 0px 0px 10px 10px black;
}



/*-----------ITEM LIST----------*/

.titulo-productos-destacados {
  margin-top: 4rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 2rem;
}

.productos-div {
  width: 95vw;
  display: grid;
  grid-template-columns: 45% 45%;
  margin-left: 5vw;
  gap: 30px 20px;
}



/*------------ITEM-----------*/

.producto {
  border: 2px solid black;
  border-radius: 10px 10px;
  height: 280px;
  font-size: 0.8rem
}

.img-producto {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 150px;
  border-radius: 5px 9px 0px 0px;
  border: 1px solid black;
}

.ver-mas {
  border-radius: 40px;
  padding: 10px;
  background-color: #202b34;
  text-decoration: none;
  color: white
}



/*-------------ITEM DETAIL ----------------*/

.item-detail {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 3rem;
}

.item-detail-img {
  width: 100%;
  height: 400px;
}

.item-detail-nombre {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.item-detail-descripcion {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.2rem;
}

.item-detail-cuidados {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.1rem;
}

.item-detail-precio {
  font-size: 1.3rem;
}


/*---------------ITEM COUNT------------------*/

.item-count {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.item-count button {
  background-color: #48302b;
  height: 2rem;
  width: 2rem;
  color: white;
  border-radius: 0.4rem;
  border: 2px solid black;
  cursor: pointer;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item-count button:hover, .agregar-al-carrito:hover {
  background-color: beige;
  color: black;
}

.agregar-al-carrito {
  width: auto;
  height: auto;
  background-color: #48302b;
  color: white;
  margin-top: 1.5rem;
  padding: 0.4rem;
  border-radius: 0.7rem;
  border: 1px solid black;
}



/*-------------------- FOOTER ----------------*/

footer {
  margin-top: 4rem;
  background-color: #6a4e36;
  text-align: center;
  height: 710px;
}

.footer-nav {
  position: relative;
  top: 1rem;
  a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  }
}

.footer-nav-titulo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.2rem;
  color: beige;
}


.footer-redes {
  margin-top: 4rem;
}

.redes-titulo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.2rem;
  color: beige;
}

.redes-lista {
  list-style: none;
  position: relative;
  left: -20px;
  color: white;
}

.redes-ig {
  &:hover {
    color: #833AB4;
    font-size: 1.1rem;
  }
}

.redes-fb {
  &:hover {
    color: #3b5998;
    font-size: 1.1rem;
  }
}

.redes-tw {
  &:hover {
    color: #00acee;
    font-size: 1.1rem;
  }
}


.footer-pagos {
  margin-top: 3rem;
}

.pagos-titulo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.2rem;
  color: beige;
}

.pagos-img {
  margin-top: -0.5rem;
  width: 250px;
}


.footer-email {
  margin-top: 3rem;
}

.email-titulo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1.2rem;
  color: beige;
}

.email-div-formulario {
  margin-top: 12px;
}

#email-recuadro {
  padding: 0.2rem;
  border-radius: 0.8rem;
  border: transparent;
}

#email-enviar {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 2rem;
  border: 1px solid black;
  color: white;
  background-color: #333;
  margin-left: 0.5rem;
}


.footer-copyright {
  margin-top: 2rem;
}

.copyright-texto {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  font-size: 1rem;
  color: white;
}


@media (min-width: 768px) {
  footer {
    margin-top: 8rem;
    height: 900px;
  }

  .footer-nav-titulo {
    font-size: 1.5rem;
  }

  .redes-titulo {
    font-size: 1.5rem;
  }

  .redes-ig {
    font-size: 1.3rem;
    &:hover {
      font-size: 1.4rem;
    }
  }

  .redes-fb {
    font-size: 1.3rem;
    &:hover {
      font-size: 1.4rem;
    }
  }

  .redes-tw {
    font-size: 1.3rem;
    &:hover {
      font-size: 1.4rem;
    }
  }

  .pagos-titulo {
    font-size: 1.5rem;
  }

  .pagos-img {
    margin-top: -0.5rem;
    width: 400px;
  }

  .footer-email {
    margin-top: 3rem;
  }

  .email-titulo {
    font-size: 1.5rem;
  }

  #email-recuadro {
    width: 300px;
  }

  #email-enviar {
    width: 90px;
    height: 35px;
    margin-left: 10px;
    margin-top: -4px;
  }

  .copyright-texto {
    font-size: 1.3rem;
  }
}